<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Colour Bootstrapper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= stylesheet_link_tag "application", media: "all" %>
    <link rel="stylesheet/less" type="text/css" href="/assets/bootstrap.less">
    <%= javascript_include_tag 'less-1.3.3.min.js' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Colour Bootstrapper', root_path, class: 'brand' %>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>
